<style>
	body
		{
			background-image: url(images/wp2.jpg);
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}
		#horizontal-line
		{
		width: 1247px;
		height: 2px;
		background-color: black;
		}

		a:link, a:visited
		{
			padding: 20px;
			display: inline-block;
			border-radius: none;
		}

		h2
		{
			text-align: center;
			font-family: Century Gothic;
			font-size: 20px;
		}

		ul 
		{
 		list-style-type: none;
  		margin: 0;
  		padding: 0;
  		overflow: hidden;
  		background-color: lightgray;
		}

		li 
		{
		  float: left;
		}

		li a, .dropbtn 
		{
		  display: inline-block;
		  color: black;
		  text-align: center;
		  padding: 20px 20px;
		  text-decoration: none;
		  font-family: Century Gothic;
		  font-size: 20px;
		}

		li a:hover, .dropdown:hover .dropbtn 
		{
		  background-color: gray;
		}

		li.dropdown 
		{
		  display: inline-block;
		}

		.dropdown-content 
		{
		  display: none;
		  position: absolute;
		  background-color: #f9f9f9;
		  min-width: 160px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		}

		.dropdown-content a 
		{
		  color: black;
		  padding: 7px;
		  text-decoration: none;
		  display: block;
		  text-align: left;
		}

		.dropdown-content a:hover {background-color: #f1f1f1;}

		.dropdown:hover .dropdown-content 
		{
		  display: block;
		}

		footer
		{
			padding: 20px;
			background-color: lightgray;
			color: black;
			text-align: center;
		}

		* 
		{
		  box-sizing: border-box;
		}
		div
		{
			width: 60%;
			margin: 0 auto;
		}

		body 
		{
		  font-family: 
		  Arial
		}

		header 
		{
		  background-color: none;
		  padding: 10px;
		  text-align: center;
		  font-size: 35px;
		  color: white;
		}

		nav 
		{
		  float: left;
		  width: 33%;
		  height: 350px; 
		  background: none;
		  padding: 20px;
		}

		nav ul {
		  list-style-type: none;
		  padding: 2%;
		}

		article 
		{
		  float: right;
		  padding: 80px;
		  width: 65%;
		  background-color: transparent lightgray;
		  height: 400px;
		}

		section::after 
		{
		  content: "";
		  display: table;
		  clear: both;
		}
		p
		{
			font-size: 14px;
			text-align: center;
		}
	</style>